/**
* @file _footer.scss
**/

.footer {
  width: 100%;
  height: 200px;
  padding: 20px 0;
  background-color: #4D4D4D;
  @include MEDIA_SP{
    height: 240px;;
  }

  &__wrapper{
    display: flex;
    justify-content: center;
    @include MEDIA_SP{
      justify-content: initial;
      flex-direction: column;
    }

    margin: 0 auto; 
  }

  &__title{
    padding: 40px 0;
    margin-right: 120px;
    @include MEDIA_SP{
      width: 100%;
      margin-right: 0;
    }
    font-size: 4rem;
    color: #fefefe;
    text-align: center;
  }
  &__content{
    margin-bottom: 40px;
    @include MEDIA_SP{
      width: 100%;
      margin-bottom: 0;
    }
    .twitter{
      display: inline-block;
      padding-left: 57px;
      margin-bottom: 40px;
      font-size: 2.4rem;
      @include MEDIA_SP{
        display: block;
        width: 80%;
        margin: 0 auto; 
        margin-bottom: 24px;
        padding-left: 0;
        text-align: center;
        font-size: 1.6rem;
      }
      color: #fefefe;

      a{
        color: #fefefe;
        
        &:hover{
          color:$ATTENTION;
          transition: 0.5s all;
        }
      }
      
    }
  }

  &__nav{
    @include MEDIA_SP{
      display: none;
    }
    .menu{
      display: flex;
      justify-content: space-between;

      .menu-item {
        width: 160px;
        text-align: center;
  
        &:last-child{
          margin-right: 0;
        }
  
        a {
          font-size: 1.6rem;
          color: #fefefe;
          
          &:hover{
            color:$ATTENTION;
            transition: 0.5s all;
          }
          span{
            display: block;
          }
        }
      }
    }
  }

  p{
    text-align: center;
    color: #fefefe;

  }
}
