/**
* @file _config.scss
**/

// フォントサイズ
$DEFAULT_FONT_SIZE: 62.5%;

// カラー
$DEFAULT_COLOR: #9B867B;
$MAIN_GREEN: #ECF0EF;
$TEXT_COLOR_HEADER:#D6D6D6;
$TEXT_COLOR_CONTENT:#fefefe;

// フォント
$DEFAULT_FONT_FAMILY: "Futura", sans-serif;

// メディアクエリ
$MEDIA_TAB: 1024px;
$MEDIA_SP: 768px;