/**
* @file _l-index.scss
**/


// @keyframes
@keyframes passing-bar{
	0% {
		left: 0;
		width: 0;
	}
	50% {
		left: 0;
		width: 100%;
	}
	51% {
		left: 0;
		width: 100%;
	}
	100% {
		left: 100%;
		width: 0;
  }
}

@keyframes passing-txt{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
  }

main{
// 共通部分
  [class$="__wrapper"]{
    width: 100%;
    height: 800px;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    @include MEDIA_TAB {
      height: 1000px;
    }
    @include MEDIA_SP {
      height: 700px;
    }
  }

  [class*="__inner"]{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  [class$="__content"]{
    position: relative;
    width: 40%;
    height: 600px;
    padding-top: 80px;
    color: $TEXT_COLOR_CONTENT;
    @include MEDIA_TAB {
      width: 100%;
      height: 450px;
      padding-top: 40px;
    }
    @include MEDIA_SP{
      height: 300px;
      padding-top: 20px;
    }
    
    h2{
      font-size: 10rem;
      font-weight: normal;
      text-align: center;
      margin-bottom: 80px;
      @include MEDIA_TAB {
        margin-bottom: 40px;
      }
      @include MEDIA_SP{
        margin-bottom: 24px;
        font-size: 6rem;
      }

      &::first-letter{
        color: $ATTENTION;
      }
    }

    h3{
      font-size: 6rem;
      font-weight: normal;
      padding-left: 40px;
      @include MEDIA_SP{
        padding-left: 0;
        font-size: 3.2rem;
        text-align: center;
      }
    }
    p{
      font-size: 3.2rem;
      padding-left: 80px;
      @include MEDIA_SP{
        padding-left: 0;
        font-size: 1.6rem;
        text-align: center;
      }
    }
    a{
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      width: 320px;
      height: 80px;
      line-height: 80px;
      border-radius: 40px;
      color: #707070;
      background-color: $TEXT_COLOR_CONTENT ;
      font-size: 4rem;
      text-align: center;
      transition: 0.5s;
      box-shadow: 5px 5px 10px #0e0e0e;
      @include MEDIA_SP{
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 60px;
        line-height: 60px;
        font-size: 3.2rem;
      }

      &:hover{
        color: $TEXT_COLOR_CONTENT ;
        background-color:  #707070;
        transition: 0.5s;
        box-shadow: none;
      }
    }
  }

  [class$="__image"]{
    display: block;
    width: 50%;
    height: 600px;
    overflow: hidden;
    @include MEDIA_TAB {
      width: 80%;
      height: 400px;
    }
    @include MEDIA_SP{
      width: 100%;
      height: 300px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      transition: 1s all;

      &:hover{
        transform: scale(1.1,1.1);
        transition: 1s all;
        filter: grayscale(20%);
      }
    }
  }
  //first-view
  .first-view{
    position: absolute;
    z-index: -100;
    top: 0;
    width: 100vw;
    height: 100vh;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 40%;
      @include MEDIA_TAB {
        object-position: 50%;
      }
    }

    &__title{
      position: relative;
      top: -60vh;
      left: 15vw;
      color: $TEXT_COLOR_CONTENT;
      font-weight: normal;
      width: 650px;
      @include MEDIA_SP{
        left: 5vw;
        width: 300px;
      }

      &::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: #000;        
      }
      &-first{
        font-size: 8rem;
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        @include MEDIA_SP{
          font-size: 5rem;
        }

        &::first-letter{
          color: $ATTENTION;
        }
      }
      &-second{
        font-size: 6rem;
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        @include MEDIA_SP{
          font-size: 2.4rem;
        }
      }
    }

    & .first-view__title::before{
      animation: passing-bar 4s ease .5s 1 normal forwards;
    }

    & .first-view__title-first{
      animation: passing-txt 5s ease .5s 1 normal forwards;
    }
    & .first-view__title-second{
      animation: passing-txt 6s ease .5s 1 normal forwards;
    }
  }
  // profile
  .profile{
    margin-bottom: 120px;
    padding-top: 100vh;    
    @include MEDIA_SP {
      margin-bottom: 80px;
    }

    &__content{
      order: 2;
    }

    &__image{
      order: 1;
    }
  }

  // works
  .works{
    margin-bottom: 120px;
    @include MEDIA_SP {
      margin-bottom: 80px;
    }

    &__content{
      margin-right: 20px;
      @include MEDIA_TAB {
        margin-right: 0;
        order: 2;
      }
    }

    &__image{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include MEDIA_TAB {
        order: 1;
      }
      
        .image-item{
        width: calc(100% / 2 - 20px);
        height: calc(100% / 2 - 20px);
        margin-bottom: 40px;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;

        }
      }
    }
  }

  // contact
  .contact{
    margin-bottom: 160px;
    @include MEDIA_SP{
      margin-bottom: 120px;
    }

    &__wrapper{

    }

    &__content{
      order: 2;
    }
    h3{
      font-size: 5.5rem;
      @include MEDIA_SP{
        font-size: 3.2rem;
      }
    }
    &__image{
      order: 1;
    }
  }
}

