/**
* @file _l-page-works-detail.scss
**/

.work-thumbnail{
    margin-bottom: 80px;
    @include MEDIA_TAB{
      margin-bottom: 40px;
    } 
    @include MEDIA_SP{
      margin-bottom: 20px;
    }

  &__image-pc{
    width: 70%;
    height: 640px;
    margin: 0 auto;
    @include MEDIA_SP{
      height: 320px;
    } 

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.work-content{
  margin-bottom: 120px;
  @include MEDIA_TAB{
    margin-bottom: 80px;
  }
  @include MEDIA_SP{
    margin-bottom: 40px;
  } 
  &__title{
    margin-bottom: 24px;
    font-size: 6.4rem;
    text-align: center;
    @include MEDIA_SP{
      font-size: 4rem;
    }
  }

  &__text{
    width: 60%;
    margin: 0 auto; 
    font-size: 2.4rem;
    text-align: justify;
    @include MEDIA_TAB{
      width: 100%;
    }
    @include MEDIA_SP{
      font-size: 1.6rem;
    }  

    p{
      text-align: justify;
      margin-bottom: 30px;
    }
    // the_content();は自動でpタグが挿入される。

  }
}

.work-full{
  margin-bottom: 120px;
  &__wrapper{
    display: flex;
    justify-content: space-evenly;
    @include MEDIA_SP{
      justify-content: space-between;
    } 
  }
  
  &__image-left,&__image-right{
    width: 40%;
    height: auto;
    @include MEDIA_TAB{
      width: 45%;
    } 
    @include MEDIA_SP{
      width: calc(50% - 8px);
    } 
    
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
  }
}

.back{
  margin-bottom: 160px;
  text-align: center;
  @include MEDIA_TAB{
    margin-bottom: 80px;
  } 

  &__btn{
    position: relative;
    font-size: 3.2rem;

    &::before{
      content: "◀︎";
      position: absolute;
      top: 50%;
      left: -3.2rem;
      transform: translateY(-50%);
      font-size: 2.4rem;

    }

  }
}