/**
* @file _l-page-works-detail.scss
**/

.work-thumbnail{
    margin-bottom: 80px;

  &__wrapper{

  }

  &__image-pc{
    width: 70%;
    height: 640px;
    margin: 0 auto; 

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.work-content{
  margin-bottom: 120px;
  &__wrapper{
    
  }
  &__title{
    margin-bottom: 24px;
    font-size: 6.4rem;
    text-align: center;
  }

  &__text{
    width: 60%;
    margin: 0 auto; 
    font-size: 2.4rem;
    text-align: justify;

    p{
      overflow: auto;
      text-align: justify;
      margin-bottom: 30px;
    }
    // the_content();は自動でpタグが挿入される。

  }
}

.work-full{
  margin-bottom: 120px;
  &__wrapper{
    display: flex;
    justify-content: space-evenly;
  }
  
  &__image-left{
    width: 40%;
    height: auto;
    border: 1px solid #0e0e0e;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
  }

  &__image-right{
    width: 40%;
    height: auto;
    border: 1px solid #0e0e0e;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
  }
}

.back{
  margin-bottom: 160px;
  text-align: center;

  &__btn{
    position: relative;
    font-size: 3.2rem;

    &::before{
      content: "◀︎";
      position: absolute;
      top: 50%;
      left: -3.2rem;
      transform: translateY(-50%);
      font-size: 2.4rem;

    }

  }
}