/**
* @file _l-page-contact.scss
**/


// top
.top{
  margin-bottom: 160px;
  @include MEDIA_TAB{
    margin-bottom: 120px;
  }
  &__title{
    order: 2;
    font-size: 14rem;
    @include MEDIA_SP{
      font-size: 6rem;
    }
  }
  &__image{
    order: 1;
  }
}

.contact{
  margin-bottom: 160px;
  @include MEDIA_TAB{
    margin-bottom: 120px;
  }
  @include MEDIA_SP{
    margin-bottom: 80px;
  }

  &__wrapper{
    width: 30%;
    margin: 0 auto;
    @include MEDIA_TAB{
      width: 60%;
    }
    @include MEDIA_SP{
      width: 90%;
    }  
  }
  &__title{
    margin-bottom: 40px;
    text-align: center;
    font-size: 4rem;
  }
  h3{
    font-size: 2.4rem;
    margin-bottom: 20px;
    @include MEDIA_SP{
      font-size: 2rem;
    }  
  }

  &__twitter{
    margin-bottom: 80px;
    p{
      margin-bottom: 20px;
    }
  }
  &__twitterbtn{
    display: block;
    width: 70%;
    height: 60px;
    line-height: 60px;
    margin: 0 auto; 
    border: 1px solid #0e0e0e;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fefefe;
    background-color: #707070;
    transition: 0.5s all;
      
    &:hover{
    color: #707070;
    background-color: #fefefe;
    transition: 0.5s all;
    }
  }
  &__mail{
    p{
      margin-bottom: 24px;
    }
    input{
      width: 100%;
      padding: 16px;
      border: 1px solid #0e0e0e;
      border-radius: 5px;
    }
    textarea{
      width: 100%;
      padding: 16px;
      border: 1px solid #0e0e0e;
      border-radius: 5px;
    }
    input[type="submit"]{
      cursor: pointer;
      font-size: 1.6rem;
      color: #fefefe;
      background-color: #707070;
      border-radius: 5px;
      transition: 0.5s all;
      
      &:hover{
      color: #707070;
      background-color: #fefefe;
      transition: 0.5s all;
      }
    }
    div.wpcf7 .ajax-loader{
      display: none;
    }
    .confirm{
      display: inline-block;
      width: 30px;
      height: 21px;
    }
    .wpcf7-list-item-label{
      display: inline-block;
    }
  }
}