/**
* @file _l-page-works.scss
**/


// top
.top{
  margin-bottom: 260px;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 400px;
    margin: 0 auto; 
    padding: 0 5% 0 5%;
    background: linear-gradient(to bottom, #898787, #CCCCCC);
  }

  &__title{
    position: relative;
    font-size: 16rem;
    color: $TEXT_COLOR_CONTENT;
    font-weight: normal;
    text-align: center;
    line-height: 400px;
    margin-right: 40px;

    &::after{
      content: "";
      display: block;
      position: absolute;
      bottom: 100px;
      width: 100%;
      height: 5px;
      border-bottom: 5px solid $TEXT_COLOR_CONTENT;
    }
  }
  &__image{
    transform: translateY(-100px);
    width: 60%;
    height: 600px;
    
    img{
      width: 100%;
      height: 100%;
      object-fit: cover
    }
  }
}

// main-works
.main-works{
  margin-bottom: 120px;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto; 

  }
  &__card{
    width: calc(100% / 2 - 40px);

  }
  &__image{
    display: block;
    width: 100%;
    height: 80%;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{
    text-align: center;
    font-weight: normal;
    font-size: 4rem;

  }
  &__content{

    text-align: justify;
  }
}

// sub-works
.sub-works{
  margin-bottom: 160px;
  &__slider{
      width: 90%;
      margin: 0 auto; 
  }

  .slider{


    li{
      padding-right: 40px;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}