/**
* @file _l-page-works.scss
**/


// top
.top{

  &__title{
    order: 1;
    margin-right: 120px;
    @include MEDIA_TAB {
      margin-right: 0;
    }
  }
  &__image{
    order: 2;
    filter: grayscale(0.8);
  }
}

// main-works
.main-works{
  margin-bottom: 120px;
  @include MEDIA_TAB {
    margin-bottom: 80px;
  }

  &__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


  }
  &__card{
    width: calc(100% / 2 - 40px);
    height: 100%;
    @include MEDIA_SP {
      width: 100% ;
      margin-bottom: 24px;
    }
  }
  &__image{
    display: block;
    width: 100%;
    height: 450px;
    margin-bottom: 40px;
    border: 1px solid #0e0e0e;
    @include MEDIA_TAB {
      height: 300px;
    }
    @include MEDIA_SP {
      height: 250px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    &-filter{
      position: relative;
      top: -100%;
      z-index: 100;
      width: 100%;
      height: 100%;
      background-color: #0e0e0e;
      opacity: 0.5;
      transition: 0.5s;
      span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 200px;
        margin: 0 auto;
        color: $TEXT_COLOR_CONTENT;
        font-size: 2.4rem;
        text-align: center;
      }
    }
    &:hover{
      .main-works__image-filter{
      height: 0%;
      transition: 0.5s;

      span{
        display: none;
      }
      }
    }
  }
  &__title{
    margin-bottom: 24px;
    text-align: center;
    font-weight: normal;
    font-size: 4rem;
    @include MEDIA_TAB {
      font-size: 3rem;
    }
    @include MEDIA_TAB {
      font-size: 2rem;
    }

  }
  &__content{
    text-align: justify;
    font-size: 2rem;
    @include MEDIA_TAB {
      font-size: 1.6rem;
    }
    @include MEDIA_TAB {
      font-size: 1.2rem;
    }
  }

  &__text{
    display: block;
    margin-bottom: 24px;
    @include MEDIA_TAB {
      margin-bottom: 16px;
    }
  }
}

// sub-works
.sub-works{
  margin-bottom: 160px;
  @include MEDIA_TAB {
    margin-bottom: 120px;
  }
  @include MEDIA_SP {
    margin-bottom: 80px;
  }
  &__title{
    margin-bottom: 40px;
    text-align: center;
    font-size: 3.2rem;
  }
  &__slider{
      width: calc(90% + 40px);
      margin: 0 auto;
      @include MEDIA_SP {
        width: 100%;
      } 
  }

  .slider{

    li{
      height: 240px;
      @include MEDIA_SP {
        height: 160px;
      }
      
      a{
        display: block;
        width: 100%;
        height: 100%;
      
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 1px solid #0e0e0e;
        }
      }
    }
  }
}
// slick sliderでの専用CSS(phpファイルに記載なし。)
.prev-arrow,
.next-arrow {
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
  font-size: 3.2rem;
}

.prev-arrow {
  left: -20px;
}

.next-arrow {
  right: -20px;
}
.slick-slide{
  margin: 0 20px;
  @include MEDIA_SP {
    margin: 0 16px;
  } 
}